<!-- <button routerLink="/all-movies">fsdb</button> -->

<div class="body">
<div class="backgroungimage"></div>
    <div class="box">
            <h2>LOGIN FORM</h2>

        <form  class="requires-validation" novalidate >


            <div class="userbox">
                <input type="text" id="username" placeholder="Username"  name="" required>
                <i class="bx bx-user icon"></i>
                
            </div>
        

            <div class="userbox">
                <input  type="password" id="pass" placeholder="  Password" name="d" required>
                <i class="bx bx-lock-alt icon"></i>
                
            </div>

           &nbsp;&nbsp;&nbsp;&nbsp; <input type="checkbox" value="" required><label style="color:white ;">Accept all terms and conditions</label> <br>
           
           <div class="form-button mt-3">
            <button   type="submit" routerLink="/all-movies" id="submit">
                
                Sign in</button></div> <br>

            <span class="loginlink">Don't have a account ?<a class="link" routerLink="register">Register</a></span>



        </form>
    </div>
    </div>
            <!-- </div> -->
            
            <!-- <div class="input-field">
                <input type="text" name="" class="input" placeholder="Username" required>
                <i class="bx bx-user"></i>
            </div>
    
            <div class="input-field">
                <input type="password" name="" class="input" placeholder="Password" required>
                <i class="bx bx-lock-alt"></i>
            </div>
            <div class="input-field">
                <input type="submit" routerLink="/all-movies" class="submit"  value="login" >
    
            </div>
    
            <div class="bottom">
                <div class="left">
                   <input type="checkbox" id="check">
                    <label for="check">Remember me</label>
                </div>
                <div class="right">
                    <label><a href="#">Register Account</a></label>
                </div>
            </div> -->
    
        <!-- </div>
    </div>

</div> -->

