<app-header></app-header>
<section class="py-5">
    <div class="container px-4 px-lg-5 my-5">
        <div  class="row gx-4 gx-lg-5 align-items-center">
            <div class="col-md-4"><img class="card-img-top mb-5 mb-md-0" [src]="movies.cover" alt="..." /></div>
            <div  class="col-md-6">
                <div class="large mb-1">{{movies.directors}}</div>
                <h1 class="display-5 fw-bolder">{{movies.name}}</h1>
                <div class="fs-5 mb-5">
                    <span class="">{{movies.actors}}</span> <br>
                    <span>{{movies.rating}}</span>
                </div>
                <p class="lead">{{movies.description}}</p>
                <div class="d-flex">
                    
                    <button routerLink="/description/{{movies.id}}/review/{{movies.id}}" (click)="pushreview()" class="btn btn-outline-warning flex-shrink-0" type="button">
                        <!-- <i  class="bi-cart-fill me-1"></i> -->
                        Show Reviews
                    </button> &nbsp;&nbsp;&nbsp;&nbsp; 
                    <button routerLink="/all-movies" class="btn btn-outline-warning flex-shrink-0" type="button">
                        <!-- <i  class="bi-cart-fill me-1"></i> -->
                        Go back to Home
                    </button>

                </div>
            </div>
        </div>
    </div>
</section>




